body{

	border-style: hidden;
}


label{

	float: none;
	padding: 12px 12px 12px 0;
  	display: inline-block;

}

input{

	margin-left: auto;
	margin-right: auto;
	

 	border: 2px solid black;
 	border-radius: 8px;
 	padding-top: 0.5%;
 	padding-left: 10%;
 	padding-bottom: 0.5%;

 	float: none;

 	resize: vertical;
	
}

img{
	width: 40%;
	height: 40%;
}